.card-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    margin-top:20px;
}

.card{
    background:var(--bg-card);
    padding:20px;
    border-radius:var(--radius);
    box-shadow:var(--shadow);
}

.card h3{
    color:var(--text-light);
    font-size:14px;
    margin-bottom:10px;
}

.number{
    font-size:28px;
    font-weight:700;
    color:var(--primary);
}