# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Java compiled files
*.class
*.jar

# Eclipse / IntelliJ / VS Code
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Tomcat / temporary files
target/
out/
*.log
*.war
/temp/
*.tmp

# OS files
.DS_Store
Thumbs.db
